@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Questrial&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;



}

html{
    scroll-behavior: smooth;
}

body {
    font-family: Questrial, sans-serif;
    color: #141c3a;
    overflow: hidden;
}

.preload {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background: #00B4DB;
    background: linear-gradient(to right, #0083B0, #00B4DB);
    color: white;
    font-size: 2rem;
    z-index: 99;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease;
}

.preload img{
    width: 80px;
    height: 80px;
    animation: preloading 0.6s infinite ;
}

.preload p{
    position: absolute;
    top:60%;
    transform: translateY(-60%);
}


@-webkit-keyframes preloading{
    from {transform: rotateY(20deg); }
    to { transform: rotateY(-40deg); }
}

.preload-finish{
    opacity: 0;
    pointer-events: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: DM Sans, sans-serif;

}

.towhite{
    color: rgb(25, 25, 25);
}

.toblack{
    background: #00B4DB;
    background: linear-gradient(to right, #0083B0, #00B4DB);
}

.dark-mode{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 10;
}


.homepage {
    text-decoration: none;
    list-style: none;
    outline: none;
    min-height: 100vh;

}

.navbar {
    position: fixed;
    display: flex;
    min-height: 8vh;
    min-width: 100%;
    font-family: DM Sans, sans-serif;
    align-items: center;
    z-index: 4;
    top: 0;
    background-color: white;
}

.title {
    position: relative;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
    padding: 2px 15px;
    text-decoration: none;
}

.title::before {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    top: 0;
    left: 0;
    border-top: 5px solid #00B4DB;
    border-left: 5px solid #00B4DB;
    margin: 6px;
}


.title::after {
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid #00B4DB;
    border-right: 4px solid #00B4DB;
    margin: 6px;
}

.menu {
    justify-content: space-around;
    align-items: center;
    min-width: 40%;
    font-family: Questrial, sans-serif;
    font-weight: 400;
    font-size: 18px;

}

.main {
    position: relative;
    /* display: flex;
    flex-direction: column; */
    min-height: 92vh;
    /* justify-content:space-around; */
    align-items: center;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    margin-top: 8vh;
    opacity: 1;
}


.heading {
    position: absolute;
    padding: 20px;
}

.heading h1 {
    position: relative;
    font-weight: 700;
    font-size: 48px;
    margin-top: 20px;
}

.heading h1::after{
    content: "";
    position: absolute;
    height: 40px;
    width: 3px;
    background-color: black;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 6px;
    animation: blink 0.5s reverse infinite;
    animation-delay: 1s;
}

@-webkit-keyframes blink {
    0% {opacity: 0; }
    100% { opacity:1; }
  }

.avatar {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -45%);
    z-index: -1;
}


.avatar img {
    width: 160px;

}


.homepage-img {
    position: absolute;
    /* width: 80%; */
    bottom: 0;
}

.homepage-img img {

    height: 250px;

    /* width: 80%; */

}


.profile {
    min-height: 300px;
    min-width: 100%;
    padding: 7% 3%;
    color: #FFFFFF;
    padding-bottom: 250px;
    /* 
    background: #360033; 
background: -webkit-linear-gradient(to right, #0b8793, #360033);
background: linear-gradient(to right, #0b8793, #360033); */

}

.profile-container {

    padding: 0 4%;
    text-align: center;

}

.details {

    padding: 5%;

}

.details h3 {
    font-size: 32px;
    font-weight: 600;
}

.aboutme {
    font-size: 20px;
    padding: 0 6%;
}


.technologys {
    min-height: 600px;
    width: 95%;
    margin: 0 2.5%;
    margin-top: -200px;
    background-color: white;
    color: rgb(65, 65, 65);
    border-radius: 30px;
    text-align: center;
    margin-bottom: 100px;
    box-shadow: 1px 2px #d4d2d2;
    border: 0.5px solid #d4d2d2;
    z-index: 5;
}


.info {
    padding: 6% 7%;
    text-align: center;


}

.info-row img {
    width: 60px;
    height: 60px;
    margin-top: 20px;
}

.space {
    margin-top: 45px;
    padding: 0 10%;
    font-size: 19px;
    text-decoration: none;

}



.space ul {
    list-style: none;
}

.space ul li {
    line-height: 2.5;
}

.space h3 {
    font-weight: 600;
}

.space h4 {
    color: #0083B0;
}


.projects {
    min-height: 400px;
    min-width: 100%;
    text-align: center;
    font-size: 19px;
    text-decoration: none;
    outline: none;
    padding: 0 1%;

}

.projects h2 {
    font-weight: 800;
    line-height: 1.5;
}


.project-container {
    margin-top: 30px;
    min-height: 300px;
    margin-bottom: 200px;
    padding: 0 3%;
    justify-content: center;
    align-items: center;
    text-align: -webkit-center;
}


.project-div {
    max-height: 230px;
    max-width: 360px;
    border-radius: 20px;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

}

.projects .btn{
    color: white; font-size: 18px; font-weight:400
}

.card-img-overlay {

    background: linear-gradient(to right, #c31432, #240b36);
    padding: 7%;
    transition: 0.3s cubic-bezier(0.86, 0.67, 0.18, 0.41);
    opacity: 0;


}

.card-img-overlay div {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    justify-content: center;
    align-items: center;

}


.card-img-overlay h3 {
    font-weight: 500;
    text-decoration: none;
    transition: 0.2s ease-in;

}

.card-img-overlay h3:hover {
    text-decoration: underline;
}

.card-img-overlay:hover {
    opacity: 1;
}




.contact {
    min-height: 166px;
    min-width: 100%;
    justify-content: center;
    align-content: center;
    text-align: center;
    margin-top: -80px;
    color: #FFFFFF;

}

.contact-detail {
    min-height: 100%;
    width: 90%;
    background: #130f40;
    background: linear-gradient(315deg, #130f40 0%, #000000 74%);
    border-radius: 20px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    padding: 5% 3%;
    font-size: 18px;
}

.contact-detail h2 {
    font-size: 32px;
    font-weight: 500;
}

.contact-detail button {

    background: none;
    color: white;
    font-size: 20px;
    line-height: 1.5;
    padding: 4% 17%;
    border-radius: 30px;
}

.contact-detail button:hover {
    background-color: white;
    color: black;
   

}

.footer {
    position: absolute;
    min-height: 400px;
    min-width: 100%;
    z-index: -1;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.motive {
    min-height: 70px;
    min-width: 70%;
    margin-top: 40px;
}

.saying {
    min-height: 100%;
    min-width: 50%;
    padding: 4% 35%;
}

.clogo {
    padding: 1% 20%;
}

.icons {
    display: inline-flex;
    justify-content: center;
    min-width: 100%;
}

.icon-circle {
    position: relative;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 2px solid white;
    color: white;
    font-size: 1.5rem;
    justify-content: center;
    align-content: center;
    margin: 2%;
}

.icon-circle i {
    position: absolute;
    top: 50%;
    bottom: 90%;
    right: 0;
    left: 0;
    margin: auto;
}

.icon-circle:hover{
background-color: white;
color: black;
}


.copyright {
    margin-top: 0;
    margin-bottom: 70px;
    padding: 6% 8%;
}



@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}





@media screen and (max-width: 768px) {
    .heading h1 {
        font-size: 32px;
    }

    .heading h1::after{
        height: 30px;
    }

    .homepage-img img {

        height: 176px;
        margin-top: 70vh;
        /* width: 80%; */

    }

    .main {
        font-size: 20px;
    }

    .title {
        font-size: 30px;
    }

    .title::before {
        height: 20px;
        width: 20px;
        border-top: 3px solid #00B4DB;
        border-left: 3px solid #00B4DB;
        margin: 6px;
    }


    .title::after {
        height: 20px;
        width: 20px;
        border-bottom: 3px solid #00B4DB;
        border-right: 3px solid #00B4DB;
        margin: 6px;
    }


    .avatar img {
        width: 150px;

    }

    .details h3 {
        font-size: 24px;

    }

    .aboutme {
        font-size: 17px;
        padding: 0 6%;
    }

    .space {
        margin-top: 40px;
      
        font-size: 17px;
       
    
    }

    .card-img-overlay h3 {
        font-size: 25px;
    }

    .projects{
        font-size: 15px;
    }

    .projects .btn{
        font-size: 15px;
    }

    .contact-detail div div {
        font-size: 16px;
        margin-top: 25px;

    }

    .contact-detail button {
        font-size: 16px;
    }

    .contact-detail h2{
        font-size: 27px;
    }

    .saying {
        padding: 5% 18%;
    }

    .motive h4{
        font-size: 20px;
    }

    .icon-circle i {
        font-size: 17px;
    }

    .icon-circle {
        height: 43px;
        width: 43px;
    }


    
}

@media screen and (max-height: 667px) {
    .homepage{
        min-height: 667px;
        max-height: 667px;
    }
    .main{
        min-height: 620px;
        max-height: 640px;
    }

    .homepage-img img {
        height: 156px;
    }

    .avatar img {
        width: 120px;

    }

    .main {
        font-size: 18px;
    }

    .heading h1 {
        font-size: 28px;
    }


    .title {
        font-size: 24px;
    }

    .title::before {
        height: 16px;
        width: 16px;
        border-top: 2px solid #00B4DB;
        border-left: 2px solid #00B4DB;
        margin: 5px;
    }


    .title::after {
        height: 16px;
        width: 16px;
        border-bottom: 2px solid #00B4DB;
        border-right: 2px solid #00B4DB;
        margin: 5px;
    }

    .icon-circle i {
        position: absolute;
        top: 30%;
       
    }
    
  }


  /* @media (prefers-dark-interface) { body {
    background-color: black;
    color: white;
  } root: {   --text-color: Azure;   --back-color: DarkBlue;  } } */



 