@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Questrial&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  

}

body {
    font-family: Questrial, sans-serif;
    color: #141c3a;
}

h1 ,h2, h3, h4, h5, h6 {
    font-family: DM Sans, sans-serif;

}


.homepage {
     /* background: #00B4DB; 
    background: linear-gradient(to right, #0083B0, #00B4DB); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+*/
    text-decoration: none;  
    list-style: none;
    outline: none;
    min-height: 100vh;
}

.navbar {
    position:fixed;
display: flex;
min-height: 8vh;
min-width: 100%;
font-family: DM Sans, sans-serif;
align-items: center;
z-index: 4;
top: 0;
background-color: white;
}

.title{
    position: relative;
    font-size: 40px;
    font-weight: 700;
    display: inline-block;
  padding: 2px 15px;
    text-decoration: none;
}

.title::before{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    top:0;
    left: 0;
    border-top: 5px solid  #00B4DB ;
    border-left: 5px solid  #00B4DB ;
    margin: 6px;
}


.title::after{
    content: "";
    position: absolute;
    height: 25px;
    width: 25px;
    bottom: 0;
    right: 0;
    border-bottom: 4px solid  #00B4DB ;
    border-right: 4px solid  #00B4DB ;
    margin: 6px;
}

.menu {
    justify-content: space-around;
    align-items: center;
    min-width: 40%;
    font-family: Questrial, sans-serif;
    font-weight: 400;
font-size: 18px;

}

.main {
    position: relative;
    /* display: flex;
    flex-direction: column; */
    min-height: 92vh;
    /* justify-content:space-around; */
    align-items: center;
    text-align: center; 
    font-weight: 300;
    font-size: 24px;
    margin-top: 8vh;
}


.heading{
    position: absolute;
    padding: 20px;
}

.heading h1{
    font-weight: 700;
    font-size: 48px;
    margin-top: 20px;
}


.avatar{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-45%);
    z-index: -1;
}


.avatar img{
    width: 160px;
   
}


.homepage-img {
    position: absolute;
    /* width: 80%; */
    bottom: 0;
}

.homepage-img img{
   
    height: 250px;

    /* width: 80%; */
   
}


.profile{
     background: #00B4DB; 
    background: linear-gradient(to right, #0083B0, #00B4DB);
    min-height: 300px;
    min-width: 100%;
    padding: 7% 3%;
    color: #FFFFFF ;
    padding-bottom: 250px;
}

.profile-container{
   
    padding: 0 4%;
    text-align: center;
    
}

.details{
    
    padding: 5%;
    
}

.details h3{
    font-size: 32px;
    font-weight: 600;
}

.aboutme{
    font-size: 20px;
    padding: 0 6%;
}


.technologys{
    min-height: 600px;
    width: 95%;
    margin: 0 2.5%;
    margin-top: -200px;
    background-color:white;
    border-radius: 30px;
    text-align: center;
    color:rgb(65, 65, 65);
    margin-bottom: 100px;
    box-shadow: 1px 2px #d4d2d2;
    border: 0.5px solid #d4d2d2;
}


.info{
    padding:6% 7%;
    text-align: center;
 

}

.info-row img{
    width: 60px;
    height: 60px;
    margin-top: 20px;
}

.space{
    margin-top: 45px;
    padding: 0 10%;
    font-size: 19px;
    text-decoration: none;
   
}



.space ul{
    list-style: none;
}
.space ul li{
    line-height: 2.5;
}

.space h3{
    font-weight: 600;
}
.space h4{
    color: #0083B0;
}


.projects{
    min-height: 400px;
    min-width: 100%;
    text-align: center;
    font-size: 19px;
    text-decoration: none;
    outline: none;
    padding: 0 1%;

}

.projects h2{
    font-weight: 800;
    line-height: 1.5;
}


.project-container{
    margin-top: 30px;
    min-height: 300px;
    margin-bottom: 400px;
}


.project-div div{
    min-height: 250px;
    min-width: 410px;
    border-radius: 20px;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

.project-div div img{
    border-radius: 20px;
    width: 100%;
}

@media screen and (max-width: 768px){
.heading h1 {
    font-size: 32px;
}


.homepage-img img{
   
    height: 176px;
    margin-top: 70vh;
    /* width: 80%; */
   
}

.main{
    font-size: 20px;
}

.title{
    font-size: 30px;
}


.title::before{
    height: 20px;
    width: 20px;
    border-top: 3px solid  #00B4DB ;
    border-left: 3px solid  #00B4DB ;
    margin: 6px;
}


.title::after{
    height: 20px;
    width: 20px;
    border-bottom: 3px solid  #00B4DB ;
    border-right: 3px solid  #00B4DB ;
    margin: 6px;
}


.avatar img{
    width: 150px;
   
}

.details h3{
    font-size: 24px;
   
}
.aboutme{
    font-size: 17px;
    padding: 0 6%;
}



}